.main {
  display: grid;
  grid-template-areas: "OwnUserInfo CurrentConversation" "Connections CurrentConversation";
  grid-template-columns: max(25vw, 250px) 75vw;
  grid-template-rows: 50px auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main .ownUserDataContainer {
  background-color: var(--gray0);
  grid-area: OwnUserInfo;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.main .ownUserData {
  padding: 9px;
  height: 32px;
}

.main .ownUserData .ownProfilePic {
  vertical-align: top;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.main .ownUserData .ownName {
  margin: 0 10px;
  display: inline-block;
  height: 32px;
  vertical-align: top;
}

.userData {
  display: block;
  padding: 9px;
}

.userData .profilePic {
  vertical-align: middle;
  border-radius: 16px;
  margin-left: 5px;
  margin-right: 10px;
}

.userData .displayName {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}

#popup-root .settings {
  list-style: none;
  margin: 0;
  padding: 0;
}

#popup-root .setting .settingButton {
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  transition: ease-in-out 250ms;
}

#popup-root .setting .settingButton:hover {
  background: rgb(197, 194, 194);
}

#popup-root .setting img {
  vertical-align: middle;
}

.main .ownUserData .settingsButton {
  float: right;
  vertical-align: top;
  border: 0;
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
.main .ownUserData .settingsIcon {
  padding: 6px;
  height: 20px;
  width: 20px;
  margin: 0;
  transition: none;
}

.main .ownUserData .settingsButton:hover .settingsIcon,
.main .ownUserData .settingsButton:focus .settingsIcon {
  transform: rotate(120deg);
  transition: all 0.4s ease-in-out;
}

.main .connections {
  grid-area: Connections;
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #f1f2f6;
  box-shadow: 0 5px 6px rgba(95, 95, 95, 0.5);
  z-index: 2;
}

.main .connections button {
  text-align: left;
  width: 100%;
  padding: 9px;
  border: none;
  box-sizing: border-box;
  border-bottom: solid rgb(240, 230, 230) 1px;
  cursor: pointer;
}

.main .connections button img {
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.main .connections button h3 {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
  /* font-size: 1.5rem; */
}

.tabs {
  padding: 0;
  margin-bottom: 10px;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  height: 38.5px;
}

.tab button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.tab button:focus {
  outline: none;
}

.tab.active {
  position: relative;
  color: rgb(6, 6, 224);
  font-weight: bolder;
  border-bottom: 3px solid rgb(6, 6, 224);
  transition: all 0.2s ease-in-out;
}

.connectionRequests {
  list-style-type: none;
}

.connectionRequests .userData {
  display: inline-block;
}

.connectionRequests .approveDecline button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  margin: 0 5px;
  color: white;
  border: none;
  border-radius: 40%;
}

.approveDecline button svg {
  transform: scale(1.4);
  vertical-align: middle;
}

.approveDecline .approve {
  background-color: green;
}

.approveDecline .decline {
  background-color: red;
}

.signout svg,
.signout span {
  vertical-align: middle;
}

.signout svg {
  height: 20px;
}

.settingButton svg,
.settingButton span {
  vertical-align: middle;
}

.contactName {
  box-sizing: border-box;
  width: 80%;
  height: 3em;
  vertical-align: top;
  border-radius: 1.5em;
  padding: 10px;
  border: solid 1px #a0a0a0;
  outline: none;
}

.findContact {
  border-radius: 50%;
  box-sizing: border-box;
  width: 3em;
  height: 3em;
  margin-left: 10px;
  border: none;
  background: darkgray;
  color: white;
}

.loader {
  margin-top: 15px;
  text-align: center;
}

.addContact ul {
  padding: 0;
  list-style-type: none;
  margin-top: 15px;
}

.addContact li button {
  cursor: pointer;
  width: calc(80% + 3em + 10px);
  height: 54px;
  border-radius: 32px;
  text-align: left;
  box-sizing: border-box;
  border: solid 1px lightgray;
  background: none;
}

.addContact li button h3,
.addContact li button img {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0;
}

.addContact li button img {
  margin-right: 10px;
}

.manageConnectionsButton {
  float: right;
  margin-right: 10px;
  position: relative;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 32px;
  text-align: left;
  transition: ease-in-out 250ms;
  padding: 0;
  --pendingConnections: "0";
}

.manageConnectionsButton svg {
  padding: 6px 5px 6px 7px;
  height: 20px;
  width: 20px;
  margin: 0;
  box-sizing: content-box;
  transition: none;
}

.manageConnectionsButton.pending::after {
  content: var(--pendingConnections);
  position: absolute;
  top: -5px;
  left: calc(100% - 10px);
  height: 15px;
  min-width: 7.5px;
  text-align: center;
  padding: 0 3.75px;
  border-radius: 7.5px;
  background: red;
  color: white;
}
/* THEMES */
:root {
  --white: #f1f2f6;
  --gray0: #a4a5a8;
  --gray1: rgb(119, 119, 119);
  --gray2: rgb(47, 36, 109);
  --gray3: rgb(9, 5, 32);
}

.dark {
}

.light {
}
