.button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: none;
    margin: 0 5px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}