/* .container{
    display: grid;
    grid-template-areas: "OwnUserData CurrentConversation" "Connections ConversationMessages";
    grid-template-columns: 25% 75%;
    grid-template-rows: 100px auto;
}
 */

*{
    overflow-x: hidden;
}