.message {
  padding: 10px;
  display: block;
  margin: 10px !important;
  color: white;
  justify-content: center;
  height: 20px;
  overflow: hidden;
  display: flexbox;
  text-align: center;
}


.own {
  background: blue;
  text-align: right;
  float: right;
  border-radius: 15px;
  margin-left: 10px;
  align-self: flex-start;
}

.other {
  background: gray;
  text-align: left;
  border-radius: 12px;
  margin-right: 10px;
  align-self: flex-end;
}
