.textArea {
  position: relative;
  margin: 10px;
  margin-right: 0;
  border-radius: 12px;
  border: solid gray 1px;
  height: 25px;
  outline: none;
  padding: 10px;
  width: 300px;
  background: none;
}

#search {
  position: relative;
  border-radius: 100%;
  background: gray;
  text-align: center;
  color: white;
  font-size: 25px;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  transition: ease-in-out 250ms;
}

#search:hover {
  background: rgb(209, 209, 209);
}

.searchIcon {
  position: absolute;
  top: 35%;
  left: 36%;
  font-size: 100px;
  color: rgb(216, 216, 216);
}

.detailsP {
  position: absolute;
  top: 60%;
  right: 30%;
  color: gray;
}

.foundContacts {
  top: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  left: 5%;
}

.contact {
  padding-left: 10;
  padding: 10px;
  transition: ease-in-out 250ms;
  border-radius: 12px;
}

.contact:hover {
  background: rgb(238, 238, 238);
}

.contact > img {
  width: 50px;
  border-radius: 100%;
}

.contactName {
  font-size: 20px;
}

.hidden {
  visibility: hidden;
}
