::selection {
  background: rgb(235, 233, 233);
}

  body {
    background: url(../imgs-src/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
  }

  .loginContainer {
    background-color: white;
    border-radius: 1%;
    height: 90%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    gap: 1rem;
    overflow: hidden;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px;
    visibility: visible;
  }

  .loginBox {
    background-color: transparent;
    margin-top: 1vw;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 41px;
    text-align: center;

    overflow: auto;
    position: relative;
    left: 7%;
    padding: 10px;
    transition: ease-in-out 250ms;
    color: white;
    cursor: pointer;
  }

  .loginBox:hover {
    background-color: blue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .loginText {
    margin-top: 1vw;
    border-radius: 3%;
    text-align: center;
    width: 80%;
    overflow: auto;
    position: relative;
    left: 10%;
    margin-top: 1em;
    font-size: 50px;
  }

  .github {
    background: black;
    margin-top: 5em;
  }

  .logo {
    position: relative;
    margin-top: 2em;
    text-align: center;
  }

  .logoText {
    font-weight: bold;
    font-size: 2em;
  }

  .slogan {
    font-size: 2em;
  }

  .slogan::after {
    padding: 0 10px;
    content: "Developers";
    animation: textAnim 10s ease infinite;
    transition: ease-in-out 250ms;
    font-weight: bold;
  }

  @keyframes textAnim {
    25% {
      content: "Developers";
    }

    50% {
      content: "Social Groups";
    }

    75% {
      content: "Friends";
    }

    100% {
      content: "You";
    }
  }
